@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

html {
  overflow-x: hidden;
}

body {
  @apply antialiased text-navy bg-[#050612] font-sans;
  overflow-x: hidden;
}

#root {
  min-height: 100%;
  min-height: 100dvh;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
